*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
height: 100vh;
align-items: center;
justify-content: center;
background: #79cbb8;
}

div.container{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 30px;
    background-color: rgba(18, 1, 26, 0.39);
    border-radius: 10px;
}

div.input_box{
   padding: 30px 25px;

}
input{
    height: 40px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

input,button,label{
    font-size: 18px;
    font-weight: 700;
}
button{
   width: 100%;
   margin: 20px 0px 10px 0px; 
   background-color:rgba(33, 78, 75, 0.7);
   color: aliceblue;
   border: none;
   outline: none;
   border-radius: 20px;
   cursor: pointer;
}
button:hover{
    background-color:rgba(73, 53, 119, 0.7);
}

h1{
    padding-bottom: 40px;
    margin-top: 0px;
    font-weight: bold;
    color: #deeca9;
}

#Output_box{
    width: 100%;
    justify-content: space-between;
}
#Output_box > span{
   background-color: #cac68ff8;
   font-size: 20px;
   text-align: center;
   color: aliceblue;
   margin: 0px 5px;
   padding: 10px;
   border-radius: 5px;
}
@media only screen  and (max-width:768px){
    div.container{
        width:auto;
        
    }
}